
.container {
  max-width: 50rem; 
  margin: 0 auto;
  padding: 2.5rem 1.25rem; 
  text-align: center;
}

.hero h1 {
  font-size: 3rem; 
  font-weight: bold;
  color: #bdafc9;
  margin-bottom: 0.625rem; 
  margin-top: 6rem;
}

.hero p {
  font-size: 1.25rem; 
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.content {
  text-align: left;
}

.section {
  margin-bottom: 4rem;
}

.section h2 {
  font-size: 1.75rem; 
  color:  #9c60d1;
  margin-bottom: 0.625rem; 
}

.section p {
  font-size: 1.125rem; 
  line-height: 1.6;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  font-size: 1.125rem; 
  margin-bottom: 0.5rem; 
}

.link {
  color: #bdafc9;;
}

  