
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem; 
  background-color: black; 
  z-index: 1000;
}

.logo img {
  display: block;
  max-height: 2.5rem; 
  width: auto;
}

.navLinks {
  display: flex;
  gap: 2rem; 
  
}

.navLinks a {
  text-decoration: none;
  font-size: 1.2rem; 
  font-weight: bold;
  color: white; 
  font-family: var(--font-jetbrains-mono), monospace;
}

.navLinks a:hover {
  opacity: 0.8;
}

